.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #100901;
    transition: 0.5s;
  }
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
  }
  .my-container {
    transition: 0.4s;
  }
  .active-nav {
    margin-left: 0;
  }
  /* for main section */
  .active-cont {
    margin-left: 180px;
  }
  #menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -62px;
  }